
.options {
    padding-top: 40px;
    display: block;
    align-items: center;
}

.opt1
.opt2 {
    width: 400px;
    margin: 10px;
    text-align: center;
}

.opt1{
    padding: 150px;
    font-weight: normal;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.15);
    float: left;
    margin-left: 200px;
    margin-right: 20px;
    align-items: center;
    background-color: rgb(178, 178, 178);
}
.opt2{
    padding: 150px;
    font-weight: normal;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.15);
    float: right;
    margin-left: 20px;
    margin-right: 200px;
    align-items: center;
    background-color: rgb(178, 178, 178);
}
