
.Portfolio {
    display: block;
    text-align: center; 
    margin: 50px;
    padding-top: 50px; 

}


.inputBox{
    display: block;
    text-align: center; 
    margin: 50px;
}

input{
    margin: 100px;
}

button{
    display: inline-block;
    text-align: right; 
}

.ui.celled_table{
    text-align: center;
    width: 80px;
}