h2 {
    padding-top: 40px; 
    padding-left: 50px;
    text-align: center; 
}

.durationButton {
    display: inline-block;
    text-align: center; 
    margin: 100px;
    padding-top: 100px; 
    padding-left: 50px;

}