/*  모든 요소들은 default 마진, 패딩 제거 */
*{margin: 0; padding: 0;}
 
/* 화면에 너무 붙어 있어서...  */
body{
    padding: 30px;
    background-color: #ffffff;
}
/*자식요소가 커지면 부모 요소는 따라서 커진다*/
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: rgb(22, 22, 22);
}
header {
    font-weight: normal;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.15);
}
nav {
    /*border: 1px solid red;*/
    width: 1100px;
    margin: auto;
}
nav > div {
    /*border: 1px solid #000;*/
    height: 80px;
    line-height: 70px;
}
.logo {
    float: left;
    width: 180px;
    line-height: 110px;
    text-align: center;
}
.menu ul{
    display: inline-block;
    width: calc(100% - 280px);
    text-align: center;
}
.menu ul li{
    display: inline;
    width: calc(100% - 280px);
    letter-spacing: .3em;
    margin-left: 2em;
}
.menu li{
    display: inline-block;
    text-align: center;
    padding: .5em;
    margin: 10px;
}
.menu ul li a {
    text-decoration: none;
    color: black;
    line-height: 3em;
    text-transform: uppercase;
}
.menu ul li a:hover{ color: blueviolet;}

